<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signup ~ Stockr Finance</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.min.css">
        <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js'></script>
  </head>
  <body>

    <nav class="navbar is-primary">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <strong>MyndJournal</strong>
        </a>


        <div class="navbar-burger burger" data-target="navMenuTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navMenuTransparentExample" class="navbar-menu">
        <div class="navbar-end">

          <% if (first_name) { %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link  is-active">
                Janine Robb
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item " href="/logout">
                  Logout
                </a>
              </div>
            </div>
          <% }%>
        </div>
      </div>
    </nav>

<div class="section">
  <div class="columns">
    <aside class="column is-2">
      <nav class="menu">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li><a class="is-active">Dashboard</a></li>
        </ul>
        <p class="menu-label">
          Administration
        </p>
        <ul class="menu-list">
          <li>
            <a class="">Potential Patients</a>
            <ul>
              <li><a>Tom Riddle</a></li>
              <li><a>Hans Gruber</a></li>
              <li><a>John Doe</a></li>
              <li><a>Test2 Test2</a></li>
              <li><a>See More Patients</a></li>
            </ul>
          </li>
          <li>
            <a class="">Courses</a>
            <ul>
              <li><a>PHY 294</a></li>
              <li><a>CSC 265</a></li>
              <li><a>PHL 345</a></li>
              <li><a>ECO 100</a></li>
              <li><a>See More Courses</a></li>
            </ul>
          </li>
          <li><a>Connect to Counselors</a></li>
          <li><a>Connect to Patients</a></li>
        </ul>
      </nav>
    </aside>

    <main class="column">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <div class="title">Dashboard</div>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <button type="button" class="button is-small">
              <%= date %>
            </button>
          </div>
        </div>
      </div>

      <div class="columns is-multiline">
        <div class="column">
          <div class="box">
            <div class="heading">Personality Insights</div>
            <div class="title">Tom Riddle</div>
            <div class="level">
              <div class="level-item">
                <div class="">
                  <div class="heading">Closeness </div>
                  <div class="title is-5">40%</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">Excitement </div>
                  <div class="title is-5">49%</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">Stability </div>
                  <div class="title is-5">45%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="heading">Personality Insights</div>
            <div class="title">Hans Gruber</div>
            <div class="level">
              <div class="level-item">
                <div class="">
                  <div class="heading">Practicality </div>
                  <div class="title is-5">63%</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">Closeness </div>
                  <div class="title is-5">54%</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">Challenge</div>
                  <div class="title is-5">45%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="heading">Personality Insights</div>
            <div class="title">John Doe</div>
            <div class="level">
              <div class="level-item">
                <div class="">
                  <div class="heading">Excitement</div>
                  <div class="title is-5">75%</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">Love</div>
                  <div class="title is-5">65%</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">Practicality</div>
                  <div class="title is-5">53%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="heading">Personality Insights</div>
            <div class="title">Test2 Test2</div>
            <div class="level">
              <div class="level-item">
                <div class="">
                  <div class="heading">Harmony</div>
                  <div class="title is-5">64%</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">Closeness</div>
                  <div class="title is-5">59%</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">Challenge%</div>
                  <div class="title is-5">53%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="columns is-multiline">
        <div class="column is-6">
          <div class="panel">
            <p class="panel-heading">
              Tom Riddle
            </p>
            <div class="panel-block">
              <figure class="image is-16x9">
                <canvas id="myChart" width="400" height="400"></canvas>
                <script>
                var ctx = document.getElementById("myChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels:  ['Anger', 'Joy', 'Fear', 'Disgust'],
                        datasets: [{
                            label: 'Emotional Analysis by Percentage',
                            data: [11.51,22.38,49.21,34.80],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
                </script>
              </figure>
            </div>
          </div>
        </div>

        <div class="column is-6">
          <div class="panel">
            <p class="panel-heading">
              Hans Gruber
            </p>
            <div class="panel-block">
              <figure class="image is-16x9">
                  <canvas id="myChart2" width="400" height="400"></canvas>
                <script>
                var ctx = document.getElementById("myChart2").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels:  ['Anger', 'Joy', 'Fear', 'Disgust'],
                        datasets: [{
                            label: 'Emotional Analysis by Percentage',
                            data: [8.51,38.33,10.56,14.80],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
                </script>
              </figure>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="panel">
            <p class="panel-heading">
              John Doe
            </p>
            <div class="panel-block">
              <figure class="image is-16x9">
                  <canvas id="myChart3" width="400" height="400"></canvas>
                <script>
                var ctx = document.getElementById("myChart3").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels:  ['Anger', 'Joy', 'Fear', 'Disgust'],
                        datasets: [{
                            label: 'Emotional Analysis by Percentage',
                            data: [11.51,22.38,.21,34.83],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
                </script>
              </figure>
            </div>
          </div>
        </div>

        <div class="column is-6">
          <div class="panel">
            <p class="panel-heading">
              Test2 Test2
            </p>
            <div class="panel-block">
              <figure class="image is-16x9">
                  <canvas id="myChart4" width="400" height="400"></canvas>
                <script>
                var ctx = document.getElementById("myChart4").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels:  ['Anger', 'Joy', 'Fear', 'Disgust'],
                        datasets: [{
                            label: 'Emotional Analysis by Percentage',
                            data: [81.51,3.38,15.21,4.80],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
                </script>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

  </body>
</html>
